@import "tailwindcss";

body {
  @apply bg-gray-50 text-white;

}

/* Custom CSS to hide the scrollbar on elements with the 'no-scrollbar' class */

/* For Chrome, Safari, and Opera
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
 */
